<!DOCTYPE html>
<html ng-app="moviesApp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movies</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/css/topcoat-desktop-light.css">
    </head>
    <body ng-controller="moviesCtr">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <form class="form-horizontal">
            <input type="search" ng-model="searchTerm" value="" placeholder="search" class="topcoat-search-input--large" autofocus>
            <button class="topcoat-button--large--cta" ng-click="doSearch()">Search</button>
        </form>

        <ul>
            <li ng-repeat="movie in moviesResult.results">
                {{movie.original_title}}
            </li>
        </ul>

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery/dist/jquery.min.js"><\/script>')</script> -->
        <script src="js/vendor/angular/angular.min.js"></script>
        <script src="js/vendor/angular-resource/angular-resource.min.js"></script>
        <script src="js/controller.js"></script>
    </body>
</html>